.shadow {
    text-shadow: 5px 5px 5px rgb(233, 176, 176), -5px -5px 5px rgb(132, 222, 245);  /* X-axis & Y-axis & blur */
    font-size: 35px;
}

#box-shadow1 {
    width: 200px;
    height: 200px;
    background-color: rgb(240, 245, 193);
    box-shadow: 5px 5px 5px;
}
#box-shadow2 {
    width: 200px;
    height: 200px;
    background-color: rgb(240, 245, 193);
    box-shadow: -5px -5px 5px;
}

/* MARGIN & PADDING */
.mar-pad {
    margin: 0px;
}

.mar-box1 {
    border: 5px solid;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

.mar {
    border: 2px solid grey;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: auto;
}

#box1 {
    background-color: rgb(228, 143, 143);
    margin-left: auto;
}

#box2 {
    background-color: rgb(113, 183, 243);
    margin-left: 50px;
}

.pad {
    border: 2px solid grey;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: auto;
}

.pad-box1 {
    border: 5px solid;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    text-align: center;
}

#box3 {
    background-color: bisque;
    padding-left: 5px;
}

#box4 {
    background-color: rgb(138, 248, 95);
    padding-top: 50px;
}

/* FLOAT */
.float-tst {
    border: 2px solid green;
    display: flow-root;
}

#f1 {
    float: left;
    margin-right: 10px;
    border: 5px solid red;
}

#f2 {
    float: right;
    border: 5px solid blue;
}

/* OVERFLOW */
.ofl {
    border: 2px solid grey;
    height: 50px;
    /* overflow: visible; */
    /* overflow: scroll; */
    /* overflow: hidden; */
    overflow: auto;
}

/* DISPLAY */ 
.dis-div {
    background-color: rgb(178, 108, 243);
    width: 100px;
    height: 100px;
    /* display: inline; */
    display: inline-block;
}

.dis-span {
    background-color: rgb(253, 120, 120);
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: flex; */
    /* display: grid; */
    display: inline;
}

/* POSITIONS */
.pos {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    position: fixed;
    /* position: sticky; */
    left: 100px;
    top: 100px;
}

.pos1 {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 212, 107);
    position: absolute;
    top: 50px;
    left: 50px;
}