.shadow {
    text-shadow: 5px 5px 5px rgb(233, 176, 176), -5px -5px 5px rgb(132, 222, 245);  /* X-axis & Y-axis & blur */
    font-size: 35px;
}

#box-shadow1 {
    width: 200px;
    height: 200px;
    background-color: rgb(240, 245, 193);
    box-shadow: 5px 5px 5px;
}
#box-shadow2 {
    width: 200px;
    height: 200px;
    background-color: rgb(240, 245, 193);
    box-shadow: -5px -5px 5px;
}

/* MARGIN & PADDING */
.mar-pad {
    margin: 0px;
}

.mar-box1 {
    border: 5px solid;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

.mar {
    border: 2px solid grey;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: auto;
}

#box1 {
    background-color: rgb(228, 143, 143);
    margin-left: auto;
}

#box2 {
    background-color: rgb(113, 183, 243);
    margin-left: 50px;
}

.pad {
    border: 2px solid grey;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: auto;
}

.pad-box1 {
    border: 5px solid;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    text-align: center;
}

#box3 {
    background-color: bisque;
    padding-left: 5px;
}

#box4 {
    background-color: rgb(138, 248, 95);
    padding-top: 50px;
}

/* FLOAT */
.float-tst {
    border: 2px solid green;
    display: flow-root;
}

#f1 {
    float: left;
    margin-right: 10px;
    border: 5px solid red;
}

#f2 {
    float: right;
    border: 5px solid blue;
}

/* OVERFLOW */
.ofl {
    border: 2px solid grey;
    height: 50px;
    /* overflow: visible; */
    /* overflow: scroll; */
    /* overflow: hidden; */
    overflow: auto;
}

/* DISPLAY */ 
.dis-div {
    background-color: rgb(178, 108, 243);
    width: 100px;
    height: 100px;
    /* display: inline; */
    display: inline-block;
}

.dis-span {
    background-color: rgb(253, 120, 120);
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: flex; */
    /* display: grid; */
    display: inline;
}

/* POSITIONS */
.pos {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    position: fixed;
    /* position: sticky; */
    left: 100px;
    top: 100px;
}

.pos1 {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 212, 107);
    position: absolute;
    top: 50px;
    left: 50px;
}

/* COMBINATORS */
#container {
    border: 2px solid;
}

#container p {  /* Descendent */
    background-color: rgb(243, 243, 125);
}

#container > p {  /* Child */
    background-color: rgb(243, 188, 125);
}

#container ~ p {  /* General Sibling */
    background-color: rgb(125, 243, 131);
}

#container + p {  /* Adjacent Sibling */
    background-color: rgb(125, 210, 243);
}

/* Pseudo-Classes */
.btn {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background-color: white;
}

.btn:hover {
    background-color: rgb(124, 192, 252);
}

#pse {
    border: 2px solid;
    margin: 2px;
}

li:hover {
    background-color: hsl(60, 80%, 73%);
}
li:nth-child(3) {
    background-color: aqua;
}

#greet p {
    background-color: aqua;
    padding: 10px;
    display: none;
}

#greet:hover p {
    display: block;
}

/* PSEUDO-ELEMENTS */
.txt::first-letter {
    font-size: 45px;
    font-style: italic;
}

.lor::first-line {
    background-color: rgb(230, 130, 130);
}

.lor::selection {
    color: green;
    background-color: black;
}

.fruit li::marker {
    content: "✔";
    color: rgb(15, 247, 15);
}

.apple::after {
    content: "🍎";
}
.orange::after {
    content: "🍊";
}
.banana::after {
    content: "🍌";
}

/* PAGINATION */
.pagination {
    text-align: center;
}

.pagination a {
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active {
    background-color: rgb(43, 194, 221);
    border-radius: 4px;
    font-weight: bold;
}

.pagination a:hover:not(.active) {
    background-color: rgb(218, 217, 213);
    border-radius: 4px;
}

/* DROPDOWN */
.drop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    display: inline;
}

.dropdown .btn1 {
    background-color: rgb(217, 238, 217);
    padding: 20px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgb(148, 147, 147);
}

.dropdown a {
    display: block;
    text-decoration: none;
    padding: 10px 17px;
    color: black;
}

.dropdown .content {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: antiquewhite;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}

.dropdown:hover .content {
    display: block;
}

.content a:hover{
    background-color: beige;
}
